@tailwind base;
@tailwind components;
@tailwind utilities;

@import "perfect-scrollbar/css/perfect-scrollbar.css";

.dark .ps__rail-y,
.dark .ps__rail-x {
	background-color: transparent !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(0%);
}

.dark input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(100%);
}
